# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.92002f26d78bcfd4fb8474a71aeb4a62.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
